

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f7f7;
  color: #222;
}


.header {
  background: white;
  border-bottom: 1px solid #eaeaea;

}

.top-bar {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 80px;  
  border-bottom: 1px solid #eaeaea;
}


.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ff385c;
  font-size: 24px;
  font-weight: bold;
}

.nav-center {
  display: flex;
  gap: 40px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #717171;
  cursor: pointer;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.nav-item:hover {
  color: black;
}

.nav-item.active {
  color: black;
  border-bottom: 2px solid black;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.profile-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 25px;
}


.search-wrapper {
  display: flex;
  justify-content: center;
  padding: 25px 0 35px;
  border-top: 1px solid #ebebeb;
}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  border: 1px solid #ddd;
  width: 55%;
  min-width: 600px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  overflow: hidden;
}

.search-item {
  flex: 1;
  padding: 14px 22px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background 0.2s ease;
}

.search-item:hover {
  background: #f7f7f7;
}

.search-item.first:hover {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.search-item.last:hover {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
}

.sub {
  font-size: 14px;
  color: #717171;
}

.divider {
  width: 1px;
  height: 35px;
  background: #e0e0e0;
}

.search-btn {
  background: #ff385c;
  border: none;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.main {
  padding: 20px 80px;
}

.section {
  margin-bottom: 60px;
}

.section h2 {
  margin-bottom: 20px;
}


.card-row {
  display: flex;
  gap: 20px;
}

.card {
  width: 300px;
}

.img-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

.img-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.heart {
  position: absolute;
  top: 12px;
  right: 12px;
  color: white;
  font-size: 18px;
}

.card h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  color: #717171;
}


.inspiration {
  padding: 60px 80px;
  border-top: 1px solid #eaeaea;
  background: #f7f7f7;
}

.tabs {
  display: flex;
  gap: 30px;
  margin: 20px 0;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.tabs span {
  cursor: pointer;
  color: #717171;
}

.tabs .active {
  color: black;
  font-weight: 600;
  border-bottom: 2px solid black;
  padding-bottom: 6px;
}

.inspiration-grid {
  display: flex;
  gap: 60px;
  margin-top: 30px;
}

.inspiration-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.footer {
  background: #f7f7f7;
  padding: 60px 80px 20px;
  border-top: 1px solid #eaeaea;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
